<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @article, local: true) do |f| %>
    <div class="img-upload">
      <div class="weight-bold-text">
        商品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"article-image" %>
      </div>
    </div>
      <%= f.text_field :name, placeholder: "title" %>
      <%= f.text_area :text, placeholder: "text", rows: "10" %>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>