<!DOCTYPE html>
<html>
  <head>
    <title>news5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <header class="header">
      <div class="header__bar">
        <h1 class="grid-6"><a href="/">誤字のニュース</a></h1>
      </div>
       
    </header>
    <%= yield %>
  </body>
</html>
